$color1: #161853;
$color2: #FAEDF0;
$box-active: #FEE3EC;
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import "body";
@import "control";
@import "boxes";
@import "mobile";